@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #020617;
  /* Slate 950 */
  --foreground: #f8fafc;
  /* Slate 50 */
  --accent-cyan: #22d3ee;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}